<div>
    <h2 class="form-signin-heading">Please sign in</h2>
    <form name="loginForm" id="loginForm" ng-submit="authenticateUser()" novalidate>
        <div class="form-group">
            <label for="inputUsername" class="col-sm-4 control-label">Email address</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Use Your ProQuest ID"
                   ng-model="credentials.username" required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-4 control-label">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Use Your ProQuest Password"
                   ng-model="credentials.password" required>
        </div>
        <div >
            <button class="btn btn-default btn-wide" type="submit">Sign in</button>
            <br>
            <div ng-show="loginError" ng-hide="!loginError" style="margin-top: 10px">
                <div class="alert alert-danger" >{{errorMessage.errorCode}} : {{errorMessage.message}}</div>
            </div>
        </div>
    </form>
</div>
